<h1>Create a New Article</h1>

<form (ngSubmit)="onSubmit()" #createArticle="ngForm">

  <div *ngIf="errorMessage">{{errorMessage}}</div>

  <div>
    <label for="title">title</label>
    <input [(ngModel)]="article.title" type="text" name="title" id="title">
    <div *ngIf="errors.title">{{errors.title.message}}</div>
  </div>

  <div>
    <label for="description">Description</label>
    <input [(ngModel)]="article.description" type="text" name="description" id="description">
    <div *ngIf="errors.description">{{errors.description.message}}</div>
  </div>

  <div>
    <label for="keywords">Keywords</label>
    <input [(ngModel)]="article.keywords" type="text" name="keywords" id="keywords">
  </div>

  <div>
    <label for="body">Body</label>
    <input [(ngModel)]="article.body" type="text" name="body" id="body">
  </div>

  <button type="submit">Submit</button>

</form>
